<div class="login-container d-flex justify-content-center">
  <div class="login-card p-5 rounded-4 shadow-lg">

    <h2 class="mb-4 text-center">Permit Application</h2>

    <!-- ✅ APPLICATION TYPE -->
    <label class="text-white">Application Type *</label>
    <select class="form-control mb-3"
      [(ngModel)]="selectedApplicationType"
      name="applicationType"
      required>

      <option value="">Select type</option>
      <option value="EIA">EIA</option>
      <option value="Waste">Waste Management</option>
      <option value="Chemicals">Controlled Substances</option>
      <option value="Tourism">Tourism</option>
      <option value="VeldProducts">Veld Products</option>
    </select>

    <!-- ✅ DYNAMIC CHILD FORMS -->
    <app-eia
      *ngIf="selectedApplicationType === 'EIA'"
      (formChange)="onChildFormChange($event)">
    </app-eia>

    <app-chemicals
      *ngIf="selectedApplicationType === 'Chemicals'"
      (formChange)="onChildFormChange($event)">
    </app-chemicals>

    <app-tourism
      *ngIf="selectedApplicationType === 'Tourism'"
      (formChange)="onChildFormChange($event)">
    </app-tourism>

    <app-veld-products
      *ngIf="selectedApplicationType === 'VeldProducts'"
      (formChange)="onChildFormChange($event)">
    </app-veld-products>

    <app-waste-management
      *ngIf="selectedApplicationType === 'Waste'"
      (formChange)="onChildFormChange($event)">
    </app-waste-management>

</div>
