<div class="customer-container">
  <div class="customer-card">

    <h2 class="mb-4 text-center">Customer Details</h2>

    <div class="d-flex gap-2 mb-4">
      <input
        [(ngModel)]="quotationNumber"
        class="form-control"
        placeholder="Enter Quotation Number (e.g. 1234)">

      <button class="btn btn-primary px-4 rounded-3" (click)="searchQuote()">
        Search
      </button>
    </div>

    <div *ngIf="quoteStatus">
      <div class="steps-container">
        <div class="step" [class.active]="quoteStatus.includes('Customer Care') || quoteStatus.includes('Field Officer') || quoteStatus.includes('completed')">
          Customer Care
        </div>

        <div class="step" [class.active]="quoteStatus.includes('Field Officer') || quoteStatus.includes('completed')">
          Site Visit
        </div>

        <div class="step" [class.active]="quoteStatus.includes('completed')">
          Completed
        </div>
      </div>

      <p class="text-center text-white mb-4"><small>Current Status: {{ quoteStatus }}</small></p>
    </div>

    <div *ngIf="quoteExists === false" class="alert alert-danger text-center shadow-sm">
      Quote not found.
      <a href="javascript:void(0)" (click)="allowCreate()" class="fw-bold text-danger text-decoration-underline">Create New?</a>
    </div>

    <div *ngIf="quoteExists === true && !quoteStatus" class="alert alert-success text-center shadow-sm">
      Quote Found! Please enter details below.
    </div>

    <form *ngIf="canEnterDetails" class="fade-in mt-3">
      <div class="mb-3">
        <input [(ngModel)]="customerName" name="cn" class="form-control" placeholder="First Name">
      </div>
      <div class="mb-3">
        <input [(ngModel)]="surname" name="sn" class="form-control" placeholder="Surname">
      </div>
      <div class="mb-3">
        <input [(ngModel)]="cellphone" name="cp" class="form-control" placeholder="Cellphone">
      </div>
      <div class="mb-3">
        <input [(ngModel)]="email" name="em" class="form-control" placeholder="Email Address">
      </div>

      <div class="mb-4">
        <select [(ngModel)]="customerType" name="ct" class="form-select">
          <option value="" disabled selected>Select Customer Type...</option>
          <option>Institution</option>
          <option>Domestic</option>
          <option>Industrial</option>
          <option>Local Government</option>
        </select>
      </div>

       <div class="d-flex justify-content-center">
    <button type="button"
            class="btn btn-outline-info w-50 py-3 rounded-5 fw-bold shadow"
            (click)="save()">
      CREATE
    </button>
  </div>
    </form>

  </div>
</div>
