.features-1 {
  padding: 100px 0 60px;
  position: relative;
  z-index: 8;
  text-align: center;
  background-image: url('/src/assets/img/envir.png');
  background-color: rgba(0, 32, 74, 0.05);
}

.box-feature {
  background: #fff;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 30px; }
  .box-feature h3, .box-feature .h3 {
    font-size: 16px;
    margin: 0;
    padding: 0; }
  .box-feature [class^="flaticon-"] {
    color: #00204a;
    font-size: 60px;
    margin: 0 0 10px 0;
    display: block;
    padding: 0;
    line-height: 0; }

    .sub-cards {
  margin-top: 15px;
  animation: fadeIn 0.3s ease-in-out;
}

.sub-card {
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s;
}

.sub-card:hover {
  background-color: #0d6efd;
  color: white;
}

/* Smooth animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
